<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470719983832-ll44j2ludft6jrbasfbv5sheh2nasep4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470719983832-ll44j2ludft6jrbasfbv5sheh2nasep4</string>
	<key>API_KEY</key>
	<string>AIzaSyAp0jTCUMGV49kY0C6W45jacOz2xT85lKM</string>
	<key>GCM_SENDER_ID</key>
	<string>470719983832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.merteray.Login-With-Firebase</string>
	<key>PROJECT_ID</key>
	<string>loginwithfirebase-9f653</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithfirebase-9f653.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470719983832:ios:13038aeb3e4924c901a7ad</string>
</dict>
</plist>